<app-header></app-header>

<div class="w-full px-4 py-8 bg-gray-100 ">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-black mb-2">Formularios disponibles</h1>
    <p class="text-black">Explora y utiliza nuestros formularios</p>
  </div>

  <div class="mb-8">
    <app-buscador 
      (searchChange)="onSearch($event)"
      [categories]="categories"
      (categoryChange)="onCategoryChange($event)">
    </app-buscador>
  </div>

  @if (filteredTemplates.length > 0) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (template of filteredTemplates; track template.id) {
        <app-tarjeta [template]="template"></app-tarjeta>
      }
    </div>
  } @else {
    <div class="bg-gray-50 rounded-lg p-8 text-center">
      <p class="text-gray-600 text-lg">No se encontraron formularios que coincidan con tu búsqueda.</p>
      <button 
        class="mt-4 px-4 py-2 bg-indigo-600 text-black rounded-md hover:bg-indigo-700 transition-colors"
        (click)="searchTerm = ''; selectedCategory = ''; applyFilters()">
        Mostrar todos los formularios
      </button>
    </div>
  }
</div>
  