<!-- Contenedor principal de la cabecera -->
<div class="header-container">
  <!-- Contenedor de la navegación -->
  <div class="navbar">
    <!-- Logo -->
    <div class="logo" style="display: flex; align-items: center;">
      <img src="assets/img/logo.jpg" alt="Logo ImpulsAlicante" class="w-10 h-10 mr-2">
      <span class="logo-text font-bold text-xl">ImpulsAlicante</span>
    </div>

    <!-- Enlaces de navegación -->
    <nav>
      <ul class="navbar no-imprimir">
        <li><a routerLink="/mainview">Inicio</a></li>
        <li><a routerLink="/dashboard">Panel Administrativo</a></li>
   

      </ul>
    </nav>
  </div>

  <!-- Controles de usuario y idioma -->
  <div class="controls no-imprimir">
    <!-- Botón de idioma -->
    <div class="relative">
      <button (click)="toggleLanguageDropdown($event)" class="language-btn">
        <span>{{ currentLanguage }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </button>

      <div *ngIf="showLanguageDropdown" class="language-dropdown">
        <a (click)="changeLanguage('Castellano')">Castellano</a>
        <a (click)="changeLanguage('Valenciano')">Valenciano</a>
        <a (click)="changeLanguage('Ingles')">Ingles</a>
      </div>
    </div>

    <!-- Menú de usuario (con cerrar sesión) -->
    <div class="relative no-imprimir">
      <button (click)="toggleProfileMenu()" class="flex items-center space-x-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span class="font-medium truncate max-w-[150px] text-gray-600">{{ user.displayName || user.email }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </button>

      <div *ngIf="isProfileMenuOpen" class="profile-menu">
        <a routerLink="/perfil">Mi Perfil</a>
        <a href="/configuracion">Configuración</a>
        <div class="border-t border-gray-100"></div>
        <button (click)="onLogoutClick()" class="logout-btn">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</div>
