<header class="border-b top-0 z-50 w-full bg-white">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between">

      <!-- Logo + nombre -->
      <a [routerLink]="['/inicio']" class="flex items-center gap-2 group">
        <div class="rounded-md p-1">
          <img src="assets/img/logo.png" alt="Logo dataBridge" class="w-16 h-16 object-contain">
        </div>
        <span class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-600 to-purple-600">
          dataBridge
        </span>
      </a>

      <!-- Navegación principal -->
      <nav class="md:flex gap-6 text-base font-medium">
        <a routerLink="/inicio"
           routerLinkActive="text-transparent bg-clip-text bg-gradient-to-r from-indigo-600 to-purple-600 font-bold"
           class="hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors">
          {{ 'CABECERA.INICIO' | translate }}
        </a>
        @if(isLoggedIn && role != 16){
        <a routerLink="/dashboard"
           routerLinkActive="text-transparent bg-clip-text bg-gradient-to-r from-indigo-600 to-purple-600 font-bold"
           class="hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors">
          {{ 'CABECERA.PANEL' | translate }}
        </a>}
        @if(role === 1){
        <a routerLink="/panel-admin"
           routerLinkActive="text-transparent bg-clip-text bg-gradient-to-r from-indigo-600 to-purple-600 font-bold"
           class=" hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors">
          {{ 'CABECERA.LISTA' | translate }}
        </a>
      }
      </nav>

      <!-- Controles de usuario -->
      <div class="flex items-center gap-3">
        <!-- Botón de modo oscuro -->
        <!-- <button
          (click)="toggleTheme()"
          class="px-4 py-2 rounded-full bg-gradient-to-r from-[#1176E1] to-[#20B26E] shadow hover:shadow-md text-sm font-medium text-white">
          Cambiar tema
        </button> -->

        <!-- Idioma -->
        <div class="relative">
          <!-- Botón principal -->
          <button (click)="toggleLanguageDropdown($event)"
                  class="px-4 py-2 rounded-full bg-gradient-to-r from-[#1176E1] to-[#20B26E] shadow hover:shadow-md text-sm font-medium flex items-center text-white">
            <span class="flex items-center">
              <img [src]="languageFlags[currentLanguageCode]"
                   alt="{{ currentLanguageCode }}"
                   class="w-5 h-4 mr-2 object-contain rounded-sm" />
              {{ languageNames[currentLanguageCode] }}
            </span>
            <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
            </svg>
          </button>

          <!-- Menú desplegable -->
          <div *ngIf="showLanguageDropdown"
               class="absolute right-0 mt-1 w-36 rounded-lg shadow border z-50 text-base">

            <!-- Castellano -->
            <a (click)="changeLanguage('es')"
               class="flex items-center px-4 py-2 cursor-pointer">
              <img src="assets/img/banderas/es.png" alt="es" class="w-5 h-4 mr-2 object-contain rounded-sm" />
              Castellano
            </a>

            <!-- Valencià -->
            <a (click)="changeLanguage('va')"
               class="flex items-center px-4 py-2 cursor-pointer">
              <img src="assets/img/banderas/va.png" alt="va" class="w-5 h-4 mr-2 object-contain rounded-sm" />
              Valencià
            </a>

            <!-- English -->
            <a (click)="changeLanguage('en')"
               class="flex items-center px-4 py-2 cursor-pointer">
              <img src="assets/img/banderas/en.png" alt="en" class="w-5 h-4 mr-2 object-contain rounded-sm" />
              English
            </a>
</div>

        </div>
        <!-- Perfil -->
        @if (usuarioActual; as usuario) {
          <div class="relative">
            <button (click)="toggleProfileMenu($event)"
              class="flex items-center px-3 py-1.5 rounded-full bg-gradient-to-r from-[#1176E1] to-[#20B26E] shadow hover:shadow-md text-sm text-white">
              <div class="w-8 h-7.5 rounded-full bg-gradient-to-r from-[#1176E1] to-[#20B26E] flex items-center justify-center text-sm">
                <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15
                        10a3 3 0 11-6 0 3 3 0 016 0z"/>
                </svg>
              </div>
              <span class="ml-2 truncate max-w-[120px] hidden sm:inline">
                {{ user.displayName || user.email }}
                <br>
                <span *ngIf="roleName !== 'Sin rol'" class="ml-2 text-xs text-gray-400">({{ roleName }})</span>
              </span>
              <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
              </svg>
            </button>
            @if (isProfileMenuOpen) {
              <div class="absolute right-0 mt-1 w-44 bg-gray-800 text-white rounded shadow border border-gray-200 dark:border-gray-700 z-50 text-base">
                <a routerLink="/perfil" class="block px-4 py-2  hover:bg-gray-50 dark:hover:bg-gray-700">{{ 'CABECERA.PERFIL' | translate }}</a>
                <button (click)="onLogoutClick()" class="w-full text-left px-4 py-2  hover:bg-gray-50 dark:hover:bg-gray-700">{{ 'CABECERA.CERRAR_SESION' | translate }}</button>
              </div>
            }
          </div>
        } @else {
          <a [routerLink]="['/auth/sign-in']"
             class="px-4 py-2 rounded-full bg-gradient-to-r from-[#1176E1] to-[#20B26E] shadow hover:shadow-md text-sm font-medium text-white">
            {{ 'CABECERA.INICIAR_SESION' | translate }}
          </a>
        }
      </div>
    </div>
  </div>
</header>
