<!-- footer.component.html -->
<footer class="border-t py-16 mt-20">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">

      <!-- Logo y descripción -->
      <div>
        <div class="flex items-center mb-4">
        <div class="rounded-md p-1">
          <img src="assets/img/logo.png" alt="Logo dataBridge" class="w-16 h-16 object-contain">
        </div>
        <span class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-600 to-purple-600">
          dataBridge
        </span>
        </div>
        <p>
          {{ 'FOOTER.DESCRIPCION' | translate }}
        </p>
      </div>

      <!-- Empresa -->
      <div>
        <h4 class="font-medium mb-4" style="color:inherit; font-size:xx-large;" >{{ 'FOOTER.EMPRESA.TITULO' | translate }}</h4>
        <ul class="space-y-8">
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.EMPRESA.SOBRE_NOSOTROS' | translate }}</a></li>
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.EMPRESA.CONTACTO' | translate }}</a></li>
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.EMPRESA.PRIVACIDAD' | translate }}</a></li>
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.EMPRESA.TERMINOS' | translate }}</a></li>
        </ul>
      </div>

      <!-- Recursos -->
      <div>
        <h4 class="font-medium mb-4" style="color:inherit; font-size:xx-large;">{{ 'FOOTER.RECURSOS.TITULO' | translate }}</h4>
        <ul class="space-y-8">
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.RECURSOS.AYUDA' | translate }}</a></li>
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.RECURSOS.TUTORIALES' | translate }}</a></li>
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.RECURSOS.DOCUMENTACION' | translate }}</a></li>
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.RECURSOS.BLOG' | translate }}</a></li>
        </ul>
      </div>

      <!-- Legal -->
      <div>
        <h4 class="font-medium mb-4" style="color:inherit; font-size:xx-large;">{{ 'FOOTER.LEGAL.TITULO' | translate }}</h4>
        <ul class="space-y-8">
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.LEGAL.RGPD' | translate }}</a></li>
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.LEGAL.COOKIES' | translate }}</a></li>
          <li><a href="#" class=" hover:text-blue-600">{{ 'FOOTER.LEGAL.LICENCIAS' | translate }}</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
