<app-header></app-header>

<div class="py-5"> 
  <div class="container">
    <div class="card">
      <div class="card-header">
        Add student
      </div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" [(ngModel)]="title" name="title" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
              <label for="" class="form-label">Email</label>
              <input type="text" [(ngModel)]="body" name="body" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Number</label>
              <input type="number" [(ngModel)]="number" name="number" class="form-control" id="exampleInputPassword1">
            </div>
          <button type="submit" (click)="saveStudentData()" class="btn btn-primary">Submit</button>
      </form>
      </div>
    </div>
  </div>  
</div>