<div class="container">
    <h1>Verifica tu correo electrónico</h1>
    <p>Hemos detectado que aún no verificaste tu cuenta. Por favor, revisa tu correo y haz clic en el enlace de confirmación.</p>
  
    <button (click)="reenviarCorreo()" [disabled]="cargando">
      {{ cargando ? 'Enviando...' : 'Reenviar correo de verificación' }}
    </button>
    <button type="submit"
    class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-green-600 hover:bg-green-700 focus:ring-green-800" (click)="cerrarSesion()">Cerrar sesion</button>
    <p class="mensaje">{{ mensaje }}</p>
  </div>
  